<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Bootstrap -->
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.js"></script>
    <link rel='stylesheet' href='/stylesheets/Ju-style.css' />


    
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table-locale-all.min.js"></script>
    
    <script type="text/javascript" src="/javascripts/groups.js"></script>

    
  </head>
  <body>
    <!-- Header(上方的標題和選單條) -->
    <header id="header">
      <!-- <h1 id="logo"><a href="/">Science Fair <span>科展系統</span></a></h1> -->
      <nav id="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: #AACBBA;">
        <!-- .navbar-brand 左上LOGO位置 -->
        <a class="navbar-brand" href="/">
          <img src="/stylesheets/images/atoms-science-svgrepo-com.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Science Fair科學探究專題系統
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <!-- .dropdown Navbar選項使用下拉式選單 -->
            <li class="nav-item dropdown">
            <% if(member_id){ %>
              <% if (locals.member_name) { %>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  您好,  <%= member_name %>
                </a>
              <% } %>
              <!-- .dropdown-menu 下拉選單內容 -->
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" onclick="javascript: location.href='/member/logout'">登出</a>
              </div>
            <% }else{ %>
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                您好, 遊客使用者
              </a>
              <!-- .dropdown-menu 下拉選單內容 -->
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" onclick="javascript: location.href='member/login'">登入</a>
                <a class="dropdown-item" onclick="javascript: location.href='member/reg'">註冊</a>
              </div>
            <% } %>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- banner圖片區 -->

    <div class="carousel slide clearfix" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <img class="d-block w-100" src="/stylesheets/images/science4.jpg" alt="First slide">
          <div class="banner-text-content">
            <h1>歡迎來到科學探究專題系統</h1>
            <p>沒有要加入的組別嗎？</p>
            <!-- <input class="btn btn-primary btn-lg" type='submit' value='新增專題組別' onclick="javascript: location.href='/groups/add'"> -->
            <input class="btn btn-primary btn-lg" type='submit' value='新增專題組別' data-toggle="modal" data-target="#addNewGroups">
            
            <div class="modal fade" id="addNewGroups" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">新增專題組別</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- 必填的判斷還沒有做 -->
                    <div id="groupsRoot"></div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="addGroups">新增組別</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>



    <!-- 登入狀態下 -->
    <% if(member_id){ %>

    <!-- 中間的已加入組別和全部組別列表區域 -->

    <!-- 從資料庫撈出的以加入組別資料和全部組別資料 -->
    <input type='hidden' id="allGroups" value="<%= JSON.stringify(notJoinGroups) %>">
    <input type='hidden' id="memberJoinGroups" value="<%= JSON.stringify(JoinGroups) %>">
    <!-- 已加入的專題組別標題欄 -->
    <div class="container col-md-8 col-md-offset-2 groups-container">
      <div class="row">
        <div class="col" style="background-color: #31625C; height: 50px;">
          <h5 class="text-white" style="margin-top: 0.8rem;">已加入的專題組別</h5>
        </div>
      </div>
      
      <!-- 已加入的專題組別表格 -->
      <div class="groups-table row">
        <div class="content col table-responsive">
          <table id="joinGroups" class="table"></table>
        </div>
      </div>
      
      <!-- <div class="groups-table row pre-scrollable">
        <div class="content col table-responsive">
          <section>
            <table class="table" style="word-break:break-all; word-wrap:break-all;">
              <thead class="thead-light table-sm">
                <tr>
                  <th scope="col" width='34%'>已加入組別名稱</th>
                  <th scope="col" width='34%'>創立時間</th>
                  <th scope="col" width='32%'>進入組別</th>
                </tr>
              </thead>
              
              <% for ( var i = 0 ; i < JoinGroups.length ; i++){ %>
                <% var day = new Date(JoinGroups[i].groups_createtime);%>
                <tr>
                  <td class="table-light des"><%= JoinGroups[i].groups_name  %></td>
                  <td class="table-light"><%=day.getFullYear(); %>/<%=day.getMonth()+1;%>/<%=day.getDate();%></td>
                  <td class="table-light">
                    <button class="btn btn-primary btn-sm" onclick="enterProject('<%= JoinGroups[i].groups_id  %>')">進入組別</button>
                  </td>
                </tr>
              <% } %>
            </table>
          </section> 
        </div>
      </div>   -->
    </div>

    <!-- 全部的專題組別標題欄 -->
    <div class="container col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col" style="background-color: #31625C; height: 50px;">
          <h5 class="text-white" style="margin-top: 0.8rem;">未加入的專題組別</h5>
        </div>
      </div>
      <!-- 全部的專題組別表格 -->
      <div class="groups-table row">
        <div class="content col table-responsive">
          <table id="allGroupsTable" class="table"></table>
        </div>
      </div>

      <!-- <div class="groups-table row pre-scrollable">
        <div class="content col">
          <section>
            <table class="table">
              <thead class="thead-light table-sm">
                <tr>
                  <th scope="col" width='34%'>未加入組別名稱</th>
                  <th scope="col" width='34%'>創立時間</th>
                  <th scope="col" width='32%'>申請加入</th>
                </tr>
              </thead>
             
              <% for ( var i = 0 ; i < notJoinGroups.length ; i++){ %>
                <% var day = new Date(notJoinGroups[i].groups_createtime);%>
                <tr>
                  <td class="table-light des"><%= notJoinGroups[i].groups_name  %></td>
                  <td class="table-light"><%=day.getFullYear(); %>/<%=day.getMonth()+1;%>/<%=day.getDate();%></td>
                  <td class="table-light">
                    <button class="btn btn-primary btn-sm" data-toggle="collapse" href="#groups<%= notJoinGroups[i].groups_id  %>" aria-expanded="false" aria-controls="groups<%= notJoinGroups[i].groups_id  %>">申請加入</button>
                  </td>
                  
                </tr>
                <tr>
                  <td class="table-light collapse" colspan="3" id="groups<%= notJoinGroups[i].groups_id  %>">
                    <%= notJoinGroups[i].groups_id  %>請輸入社群密碼：<input type="text" name="groups<%= notJoinGroups[i].groups_id  %>" id="groupsKey<%= notJoinGroups[i].groups_id  %>" >
                    <button class="btn btn-success btn-sm" id="joinGroups" onclick="joinGroups('<%= notJoinGroups[i].groups_id  %>');">送出</button>
                    <button class="btn btn-primary btn-sm" data-toggle="collapse" href="#groups<%= notJoinGroups[i].groups_id  %>" aria-expanded="false" aria-controls="groups<%= notJoinGroups[i].groups_id  %>">取消</button>
                  </td>
                </tr>
              <% } %>
            </table>
          </section>
  
        </div>
      </div>    -->
    </div>

    <% }else{ %>
    <!-- 非登入狀態下 -->
    <input type='submit' value='點選登入' onclick="javascript: location.href='/member/login'">
    <input type='submit' value='點選註冊' onclick="javascript: location.href='/member/reg'">
    <% } %>

		<!-- Scripts -->
    <!-- <script src="/javascripts/clipboard.min.js"></script>

    <script src="/assets/js/jquery.dropotron.min.js"></script>
    <script src="/assets/js/jquery.scrolly.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script> -->

  </body>
</html>
