<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
    


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.js"></script>

    <!-- jquery-contextmenu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

    <!--inputTag-->
    <script type="text/javascript" src="/stylesheets/inputTags-jQuery-plugin-master/inputTags.jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/inputTags-jQuery-plugin-master/inputTags.css' />

    <!-- summernote -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/stylesheets/summernote/summernote-bs4.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/summernote/summernote-bs4.css' />

    <!-- bootstrap-table -->
    <!-- <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet"> -->
    <!-- <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script> -->
    <link rel='stylesheet' href='/javascripts/bootstrap-table/bootstrap-table.min.css' />
    <script type="text/javascript" src="/javascripts/bootstrap-table/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-table/bootstrap-table-zh-TW.js"></script>

    <!-- fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">


    <link rel='stylesheet' href='/stylesheets/Ju-style.css' />
    <script type="text/javascript" src="/javascripts/projectEdit.js"></script>


    <link rel="icon" type="image/png" href="/stylesheets/images/atoms-science-svgrepo-com.svg"/>

  </head>
  <body>
    <!-- Header(上方的標題和選單條) -->
    <header id="header">
      <!-- <h1 id="logo"><a href="/">Science Fair <span>科展系統</span></a></h1> -->
      <div class="fixed-top">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: #AACBBA;">
          <!-- .navbar-brand 左上LOGO位置 -->
          <a class="navbar-brand" href="/">
            <img src="/stylesheets/images/atoms-science-svgrepo-com.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Science Fair科學探究專題系統
             <!-- <%= groups_name %> -->
          </a>
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/groups">離開專題</a>
            <a class="nav-item nav-link active" href="#">專題寫作</a>
            <!-- <a class="nav-item nav-link" href="/projectManage/<%= gid %>">專題管理</a> -->
            <a class="nav-item nav-link" href="/resource/<%= gid %>">資源管理</a>
            <a class="nav-item nav-link" href="/task/<%= gid %>">任務管理</a>
            <!-- <a class="nav-item nav-link" href="#">留言提問</a> -->
            <!-- <a class="nav-item nav-link" href="/convergence/<%= gid %>">收斂工具</a> -->
            <a class="nav-item nav-link" href="/learningProcess/<%= gid %>">學習歷程</a>
          </div>
          
          <!-- <a class="">
            第一組
          </a> -->
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <!-- .dropdown Navbar選項使用下拉式選單 -->
              <li class="nav-item dropdown">
              <% if(member_id){ %>
                <% if (locals.member_name) { %>
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= groups_name %> &nbsp; &nbsp;   <%= member_name %> , 您好
                  </a>
                <% } %>
                <!-- .dropdown-menu 下拉選單內容 -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" onclick="javascript: location.href='/member/logout'">登出</a>
                </div>
              <% }else{ %>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  您好, 遊客使用者
                </a>
                <!-- .dropdown-menu 下拉選單內容 -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" onclick="javascript: location.href='member/login'">登入</a>
                  <a class="dropdown-item" onclick="javascript: location.href='member/reg'">註冊</a>
                </div>
              <% } %>
              </li>
            </ul>
          </div>
        </nav>
        <!-- <nav id="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: #64AD88; height:30px;"> -->
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
            <!-- <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="font-size: 1rem; line-height:0; border-color: rgba(0,0,0,0);">工具列</a> -->
          <!-- </button> -->
          <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/groups">離開專題</a>
              <a class="nav-item nav-link active" href="#">專題寫作</a>
              <a class="nav-item nav-link" href="#">專題管理</a>
              <a class="nav-item nav-link" href="/resource/<%= gid %>">資源管理</a> -->
              <!-- <a class="nav-item nav-link" href="#">留言提問</a> -->
              <!-- <a class="nav-item nav-link" href="/convergence/<%= gid %>">收斂工具</a>
              <a class="nav-item nav-link" href="#">學習歷程</a>
            </div>
          </div>
        </nav> -->
      </div>
      
    </header>

    <div id="cneter-content">
      <!-- <div class="row">
        <div class="col-1">
          <div  class="stage-switch-box position-fixed">
            <div class="btn-group stage-switch-btn" role="group" aria-label="Basic example">
              <button type="button" style="font-size: 16px;" class="btn btn-success active" id="option1">內容撰寫</button>
              <button type="button" style="font-size: 16px;" class="btn btn-success" id="option2">想法討論</button>
            </div>
          </div>
          
        </div>
        內容撰寫和想法討論的切換按鈕
        <div class="col-11">          
          <div class="row" >
            <div>

              

                <div class=" btn-group btn-group-toggle stage-switch-btn" data-toggle="buttons">
                  <label class="btn btn-success active" id="option11">
                    <input type="radio" name="statusOptions" id="option1" autocomplete="off" value="內容撰寫" checked> 內容撰寫
                  </label>
                  <label class="btn btn-success"  id="option22">
                    <input type="radio" name="statusOptions" id="option2" autocomplete="off" value="想法討論"> 想法討論
                  </label>
                </div>     

            </div>
          </div>
        </div>
      </div> -->
      
      <input type='hidden' id="groups_id" value="<%= gid %>">
      <input type="hidden" id="member_id" value="<%= member_id %>">
      <input type="hidden" id="groups_create_student_id" value="<%= groups_create_student_id %>">
      <input type='hidden' id="groups_stage" value="<%= groups_stage %>">
      <input type='hidden' id="reference" value="<%= JSON.stringify(reference) %>">
      <input type='hidden' id="researchTitle" value="<%= researchTitle %>">
      <input type='hidden' id="researchMotivation" value="<%= researchMotivation %>">
      <input type='hidden' id="researchPurposes" value="<%= JSON.stringify(researchPurposes) %>">
      <input type='hidden' id="researchExperiment" value="<%= JSON.stringify(researchExperiment) %>">
      <input type='hidden' id="researchMaterial" value="<%= JSON.stringify(researchMaterial) %>">
      <input type='hidden' id="researchRecord" value="<%= JSON.stringify(researchRecord) %>">
      <input type='hidden' id="researchAnalysis" value="<%= JSON.stringify(researchAnalysis) %>">
      <input type='hidden' id="researchDiscussion" value="<%= JSON.stringify(researchDiscussion) %>">
      <input type='hidden' id="groupsStageCheck" value="<%= groupsStageCheck %>">

      <input type='hidden' id="allGroupsNodeData" value="<%= JSON.stringify(AllNodeData) %>">
      <input type='hidden' id="allGroupsEdgeData" value="<%= JSON.stringify(edge) %>">
      <input type='hidden' id="mode" value="<%= mode %>">
      <input type='hidden' id='allconvergence' value="<%= JSON.stringify(allconvergence) %>">

      <div class="row">
        <% if(mode == "內容撰寫"){ %>
          <%- include("include/science_fair_content2.ejs"); -%>
        <% }else{ %>
          
          <% if(mode2 == "發散"){ %>
            <%- include("include/science_fair_discussion.ejs"); -%>
          <% }else{ %>
            <%- include("include/science_fair_convergence.ejs"); -%>
          <% } %>
        <% } %>
        <!-- <div class="col-1 choose-stage"> -->
          <!-- <div class="row justify-content-center"> -->
            <!-- 左邊的階段切換選單 -->
            <!-- <nav id="left_nav" class="nav flex-column nav-pills text-center position-fixed2">
              <a id="L1" class="changet nav-link" href="#research_motivation_box" data-toggle="pill">形成問題</a>
              <a id="L2" class="changet nav-link" href="#research_steps_box" data-toggle="pill">研究規劃</a>
              <a id="L3" class="changet nav-link" href="#research_record_box" data-toggle="pill">執行</a>
              <a id="L4" class="changet nav-link" href="#research_analysis_box" data-toggle="pill">分析與詮釋</a>
              <a id="L5" class="changet nav-link" href="#research_conculsion_box" data-toggle="pill">統整報告</a>
              <button class="stage-btn btn btn-sm" type='submit' data-toggle="modal" data-target="#changeStage">切換階段</button>
              <button class="stage-btn btn btn-sm" type='submit' data-toggle="modal" data-target="#referenceModal">參考文獻</button>
            </nav> -->

            <!-- <div id="left_nav" class="list-group  text-center position-fixed2">
    
              <a id="L1" class="changet topList" href="#research_motivation_box" data-toggle="pill">形成問題</a>
              <a id="L2" class="changet" href="#research_steps_box" data-toggle="pill">研究規劃</a>
              <a id="L3" class="changet" href="#research_record_box" data-toggle="pill">執行</a>
              <a id="L4" class="changet" href="#research_analysis_box" data-toggle="pill">分析與詮釋</a>
              <a id="L5" class="changet bottomList" href="#research_conculsion_box" data-toggle="pill">統整報告</a>
              <button class="stage-btn btn btn-sm" type='submit' data-toggle="modal" data-target="#changeStage">切換階段</button>
              <button class="stage-btn btn btn-sm" type='submit' data-toggle="modal" data-target="#referenceModal">參考文獻</button>
            </div> -->


            <!-- 階段切換的彈出視窗 -->
            <!-- <div class="modal fade" id="changeStage" tabindex="-1" role="dialog" aria-labelledby="changeStageCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="changeStageLongTitle">切換編輯階段</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div id="changeStageRoot">
                      <p>
                        <b>小組要切換到</b>
                        <select name="sampleSelect" id="selectStage">
                          <option value="形成問題">形成問題</option>
                          <option value="研究規劃">研究規劃</option>
                          <option value="執行">執行</option>
                          <option value="分析與詮釋">分析與詮釋</option>
                          <option value="統整報告">統整報告</option>
                        </select>
                        <b>階段</b>
                      </p>
                      <p style="float: left;"><b>切換原因：</b></p>
                        <textarea rows="4" class="col-sm-10 form-control"  id="changeStageReason"></textarea>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="stageSwitchBtn">切換</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- 階段切換的彈出視窗 -->

            <!-- 參考資料的彈出視窗 -->
            <!-- <div class="modal fade" id="referenceModal" tabindex="-1" role="dialog" aria-labelledby="referenceModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="referenceModalLongTitle">參考文獻</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div id="referenceModalRoot">
                      <p>
                        <a href="#" onclick="window.open('/stylesheets/參考文獻格式參考.pdf','參考文獻格式', config='toolbar=no'); ">參考文獻格式說明</a>
                      </p>

                      <div class="form-row">
                        <div class="col-2">
                          <b>參考文獻類型：</b>
                        </div>
                        <div class="col-9">
                          <select class="custom-select" name="sampleSelect" id="selectReferenceType">
                            <option value="網址">網址</option>
                            <option value="書籍">書籍</option>
                            <option value="報章文章">報章文章</option>
                            <option value="其他">其他</option>
                          </select>
                        </div>
                        
                      </div>

                      <div class="form-row mt-2">
                        <div class="col-2">
                          <b>參考文獻：</b>
                        </div>
                        <div class="col-9">
                          <textarea id="reference_content"></textarea>
                        </div>
                        <div class="col" style="padding-left: 0;">

                          <button class="btn btn-primary" id="addReference"  style="float: right; margin-top: 77px;">新增</button>
                        </div>
                        
                      </div>


                    </div>
                    <br>
                    <table id="referenceTable" class="table tableFontSize"></table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- 參考資料的彈出視窗 -->

          <!-- </div> -->
          
        <!-- </div> -->

        
  
        <!-- <div class="col-11" id="writing_content" data-spy="scroll" data-target="#left_nav" data-offset="0"> -->
          <!-- 內容撰寫和想法討論的切換按鈕 -->
          <!-- <div class="row" > -->
            <!-- <div class="stage-switch-box position-fixed">

              <div class="btn-group stage-switch-btn" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-success active" id="option1">內容撰寫</button>
                <button type="button" class="btn btn-success" id="option2">想法討論</button>
              </div> -->

                <!-- <div class=" btn-group btn-group-toggle stage-switch-btn" data-toggle="buttons">
                  <label class="btn btn-success active" id="option11">
                    <input type="radio" name="statusOptions" id="option1" autocomplete="off" value="內容撰寫" checked> 內容撰寫
                  </label>
                  <label class="btn btn-success"  id="option22">
                    <input type="radio" name="statusOptions" id="option2" autocomplete="off" value="想法討論"> 想法討論
                  </label>
                </div>      -->

            <!-- </div> -->
          <!-- </div> -->


          <!-- 引入科展專題內容撰寫部分 -->
          
          <!-- <input type='hidden' id="groups_id" value="<%= gid %>">
          <input type="hidden" id="member_id" value="<%= member_id %>">
          <input type='hidden' id="groups_stage" value="<%= groups_stage %>">
          <input type='hidden' id="reference" value="<%= JSON.stringify(reference) %>">
          <input type='hidden' id="researchTitle" value="<%= researchTitle %>">
          <input type='hidden' id="researchMotivation" value="<%= researchMotivation %>">
          <input type='hidden' id="researchPurposes" value="<%= JSON.stringify(researchPurposes) %>">
          <input type='hidden' id="researchExperiment" value="<%= JSON.stringify(researchExperiment) %>">
          <input type='hidden' id="researchMaterial" value="<%= JSON.stringify(researchMaterial) %>">
          <input type='hidden' id="researchRecord" value="<%= JSON.stringify(researchRecord) %>">
          <input type='hidden' id="researchAnalysis" value="<%= JSON.stringify(researchAnalysis) %>">
          <input type='hidden' id="researchDiscussion" value="<%= JSON.stringify(researchDiscussion) %>">

          <input type='hidden' id="allGroupsNodeData" value="<%= JSON.stringify(AllNodeData) %>">
          <input type='hidden' id="allGroupsEdgeData" value="<%= JSON.stringify(edge) %>"> -->




        <!-- </div> -->
      </div>
      
    </div>



  </body>
</html>
