<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
    


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/bootstrap/bootstrap.js"></script>

    <!-- jquery-contextmenu -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>

    <!--inputTag-->
    <script type="text/javascript" src="/stylesheets/inputTags-jQuery-plugin-master/inputTags.jquery.js"></script>
    <link rel='stylesheet' href='/stylesheets/inputTags-jQuery-plugin-master/inputTags.css' />

    <!-- summernote -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/stylesheets/summernote/summernote-bs4.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/summernote/summernote-bs4.css' />

    <!-- bootstrap-table -->
    <link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-table/bootstrap-table-zh-TW.js"></script>

    <!-- fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">


    <link rel='stylesheet' href='/stylesheets/Ju-style.css' />
    <!-- <script type="text/javascript" src="/javascripts/projectEdit.js"></script> -->


    <link rel="icon" type="image/png" href="/stylesheets/images/atoms-science-svgrepo-com.svg"/>

  </head>
  <body>
    <!-- Header(上方的標題和選單條) -->
    <header id="header">
      <!-- <h1 id="logo"><a href="/">Science Fair <span>科展系統</span></a></h1> -->
      <div class="fixed-top">
        <nav id="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: #AACBBA;">
          <!-- .navbar-brand 左上LOGO位置 -->
          <a class="navbar-brand" href="/">
            <img src="/stylesheets/images/atoms-science-svgrepo-com.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            Science Fair科學探究專題系統
             <!-- > <%= groups_name %> -->
          </a>
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/groups">離開專題</a>
            <a class="nav-item nav-link" href="/project/<%= gid %>/內容撰寫/實作">專題寫作</a>
            <a class="nav-item nav-link" href="#">專題管理</a>
            <a class="nav-item nav-link active" href="#">資源管理</a>
            <a class="nav-item nav-link" href="/task/<%= gid %>">任務管理</a>
            <!-- <a class="nav-item nav-link" href="#">留言提問</a> -->
            <!-- <a class="nav-item nav-link" href="#">收斂工具</a> -->
            <a class="nav-item nav-link" href="#">學習歷程</a>
          </div>
          <!-- <a class="">
            
          </a> -->
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <!-- .dropdown Navbar選項使用下拉式選單 -->
              <li class="nav-item dropdown">
              <% if(member_id){ %>
                <% if (locals.member_name) { %>
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= groups_name %> &nbsp; &nbsp;   <%= member_name %> , 您好
                  </a>
                <% } %>
                <!-- .dropdown-menu 下拉選單內容 -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" onclick="javascript: location.href='/member/logout'">登出</a>
                </div>
              <% }else{ %>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  您好, 遊客使用者
                </a>
                <!-- .dropdown-menu 下拉選單內容 -->
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" onclick="javascript: location.href='member/login'">登入</a>
                  <a class="dropdown-item" onclick="javascript: location.href='member/reg'">註冊</a>
                </div>
              <% } %>
              </li>
            </ul>
          </div>
        </nav>
        <!-- <nav id="nav" class="navbar navbar-expand-lg navbar-light" style="background-color: #64AD88; height:30px;"> -->
          <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
            <!-- <a class="navbar-toggler" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="font-size: 1rem; line-height:0; border-color: rgba(0,0,0,0);">工具列</a> -->
          <!-- </button> -->
          <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="/groups">離開專題</a>
              <a class="nav-item nav-link" href="/project/<%= gid %>/內容撰寫">專題寫作</a>
              <a class="nav-item nav-link" href="#">專題管理</a>
              <a class="nav-item nav-link active" href="#">資源管理</a>
              <a class="nav-item nav-link" href="#">留言提問</a>
              <a class="nav-item nav-link" href="#">收斂工具</a>
              <a class="nav-item nav-link" href="#">學習歷程</a>
            </div>
          </div>
        </nav> -->
      </div>
      
    </header>

    <div id="cneter-content">
      <div class="row" style="margin-top: 54px;">

        <div class="col">
          <div class="card" style="min-height:83vh;">
            <h6 class="card-header" style="background-color: #31625C; color: white;"><i class="fas fa-user pr-1" aria-hidden="true"></i>個人資源</h6>
            <div class="card-body">
              <button type="button" class="btn btn-secondary btn-sm mb-2 upload-file" data-toggle="modal" data-target="#uploadPersonalFile">上傳個人檔案</button>
              <button type="button" class="btn btn-outline-secondary btn-sm mb-2 upload-file" data-toggle="modal" data-target="#sharePersonalLink">分享個人連結</button>
              
              <table id="allPersonalFileDataTable" class="table"></table>
              
            </div>
          </div>

        </div>
        <div class="col-7">

          <div class="card"  style="min-height:83vh;">
            <h6 class="card-header" style="background-color: #31625C; color: white;"><i class="fas fa-users pr-1" aria-hidden="true"></i>小組資源</h6>
            <div class="card-body">
              <div>
                <button type="button" class="btn btn-secondary btn-sm mb-2 upload-file" data-toggle="modal" data-target="#uploadGroupsFile">上傳小組檔案</button>
                <button type="button" class="btn btn-outline-secondary btn-sm mb-2 upload-file" data-toggle="modal" data-target="#shareGroupsLink">分享小組連結</button>
                <table id="allGroupsFileDataTable" class="table"></table>
              </div>
              
            </div>
          </div>

        </div>

      </div>

      
    
    </div>

    <!-- 檢視檔案的modal -->
    <div class="modal fade" id="viewFile" tabindex="-1" role="dialog" aria-labelledby="viewFile" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title"></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body"></div>
          </div>
      </div>
    </div>
    <!-- 檢視檔案的modal -->

    <!-- 新增個人檔案 -->
    <div class="modal fade" id="uploadPersonalFile" tabindex="-1" role="dialog" aria-labelledby="uploadPersonalFile" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">上傳個人檔案</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" aria-describedby="inputGroupFileAddon" multiple="">
                <label class="custom-file-label mt-2" for="inputGroupFile04">選擇檔案</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary uploadFileButton">上傳</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 新增個人檔案 -->

    <!-- 新增個人連結 -->
    <div class="modal fade" id="sharePersonalLink" tabindex="-1" role="dialog" aria-labelledby="sharePersonalLink" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">上傳個人連結</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="form-group">
                          <label>網站名稱</label>
                          <input type="text" class="form-control linkName">
                      </div>
                      <div class="form-group">
                          <label>網址</label>
                          <input type="text" class="form-control link">
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary uploadLinkButton" data-dismiss="modal">上傳</button>
              </div>
          </div>
      </div>
    </div>
    <!-- 新增個人連結 -->

    <!-- 新增小組檔案 -->
    <div class="modal fade" id="uploadGroupsFile" tabindex="-1" role="dialog" aria-labelledby="uploadGroupsFile" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">上傳小組檔案</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" aria-describedby="inputGroupFileAddon" multiple="">
                <label class="custom-file-label mt-2" for="inputGroupFile04">選擇檔案</label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary uploadFileButton">上傳</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 新增小組檔案 -->

    <!-- 新增小組連結 -->
    <div class="modal fade" id="shareGroupsLink" tabindex="-1" role="dialog" aria-labelledby="shareGroupsLink" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">上傳小組連結</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form>
                      <div class="form-group">
                          <label>網站名稱</label>
                          <input type="text" class="form-control linkName">
                      </div>
                      <div class="form-group">
                          <label>網址</label>
                          <input type="text" class="form-control link">
                      </div>
                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary uploadLinkButton" data-dismiss="modal">上傳</button>
              </div>
          </div>
      </div>
    </div>
    <!-- 新增小組連結 -->

    <!-- 確認是否刪除檔案 -->
    <div class="modal fade" id="checkRemoveFile" tabindex="-1" role="dialog" aria-labelledby="checkRemoveFileLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body"><h5></h5></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" id="checkRemoveFile_btn">確定刪除</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 確認是否刪除檔案 -->

    <!-- 分享檔案 -->
    <div class="modal fade" id="checkShareFile" tabindex="-1" role="dialog" aria-labelledby="checkShareFileLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">否</button>
            <button type="button" class="btn btn-danger checkShareFile_btn" data-dismiss="modal" id="checkShareFile_btn">是</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 分享檔案 -->

    <!-- 修改檔案名稱 -->
    <div class="modal fade" id="renameShareFile" tabindex="-1" role="dialog" aria-labelledby="renameShareFileLabel" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary renameShareFile_btn" id="renameShareFile_btn">確定</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 修改檔案名稱 -->

    <input type="hidden" id="gid" value="<%= gid %>">
    <input type="hidden" id="member_id" value="<%= member_id %>">
    <input type="hidden" id="member_name" value="<%= member_name %>">
    <input type="hidden" id="allGroupsFileData" value="<%= JSON.stringify(allGroupsFileData) %>">
    <input type="hidden" id="allPersonalFileData" value="<%= JSON.stringify(allPersonalFileData) %>">


  </body>
</html>

<script type="text/javascript" src="/javascripts/resource.js"></script>
