<!-- <script src="https://visjs.github.io/vis-network/dist/vis-network.min.js"></script> -->
<!-- <link href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->
<!-- <link href="https://visjs.github.io/vis-network/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->
<!-- <script type="text/javascript" src="/stylesheets/tagsinput/tagsinput.js"></script>
<script type="text/javascript" src="/stylesheets/tagsinput/bloodhound.js"></script>
<link rel='stylesheet' href='/stylesheets/tagsinput/tagsinput.css' /> -->

<!-- vis.js -->
<script type="text/javascript" src="https://unpkg.com/vis-network@latest/dist/vis-network.min.js"></script>
<!-- <link href="https://unpkg.com/vis-network@latest/dist/vis-network.min.css" rel="stylesheet" type="text/css" /> -->

<div class="col choose-stage">
  <div class="row justify-content-center">
    <!-- 左邊的階段切換選單 -->


    <div id="left_nav" class="list-group  text-center position-fixed2">

      <!-- <div  class="stage-switch-box position-fixed"> -->
          <div class="btn-group stage-switch-btn" role="group" aria-label="Basic example">
            <button type="button" style="font-size: 16px;" class="btn btn-sm btn-outline-success" id="option1">內容撰寫</button>
            <button type="button" style="font-size: 16px;" class="btn btn-sm btn-success" id="option2">想法討論</button>
          </div>
      <!-- </div> -->

      <a class="changet2 nav-link nowStage" href="#">想法發散</a>
      <a class="changet2 nav-link" href="/project/<%= gid %>/想法討論/收斂">想法收斂</a>

    </div>

      <!-- 形成問題階段審核表的彈出視窗 -->
      <div class="modal fade" id="motivationStageCheck" tabindex="-1" role="dialog" aria-labelledby="motivationStageCheckCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="motivationStageCheckLongTitle"><%= groups_stage %>階段審核表</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                  <div>
                      <p>小組正在[<%= groups_stage %>]階段，請先確認階段審核表是否都已經通過！</p>
                      <div>
                          <h3>決定研究主題與題目</h3>
                          <table class="table">
                              <thead>
                                  <tr class="table-active">
                                      <th scope="col" width="85%">階段檢核題目</th>
                                      <th scope="col" style="text-align:center;">符合項目</th>
                                  </tr>
                              </thead>
                              <tbody id="tltleList">
                                  <tr>
                                      <td>我們至少可以找到三個跟這個主題有關的資料？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="title" value="我們至少可以找到三個跟這個主題有關的資料？"></td>
                                  </tr>
                                  <tr><td>進行相關的研究不會有安全的問題？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="title" value="進行相關的研究不會有安全的問題？"></td>
                                  </tr>
                                  <tr>
                                      <td>這個主題的相關研究不會傷害小動物？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="title" value="這個主題的相關研究不會傷害小動物？"></td>
                                  </tr>
                                  <tr>
                                      <td>可以找到請教的人？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="title" value="可以找到請教的人？"></td>
                                  </tr>
                                  <tr>
                                      <td>研究主題足夠有趣嗎？能不能在幾個月內都一直覺得有趣？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="title" value="研究主題足夠有趣嗎？能不能在幾個月內都一直覺得有趣？"></td>
                                  </tr>
                                  <tr><td>我們可以在限定的時間內完成這個主題的相關研究？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="title" value="我們可以在限定的時間內完成這個主題的相關研究？"></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div>
                          <h3>提出研究問題</h3>
                          <table class="table">
                              <thead>
                                  <tr class="table-active">
                                      <th scope="col" width="85%">階段檢核題目</th>
                                      <th scope="col" style="text-align:center;">符合項目</th>
                                  </tr>
                              </thead>
                              <tbody id="purposeList">
                                  <tr>
                                      <td>研究問題中是否包含操縱變因、應變變因與控制變因？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="purpose" value="研究問題中是否包含操縱變因、應變變因與控制變因？"></td>
                                  </tr>
                                  <tr><td>研究問題中的操縱變因的數值是否可以被改變？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="purpose" value="研究問題中的操縱變因的數值是否可以被改變？"></td>
                                  </tr>
                                  <tr>
                                      <td>我們是否可以鑑別所有相關的應變變因？他們的變化是因為操控變因所引起的嗎？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="purpose" value="我們是否可以鑑別所有相關的應變變因？他們的變化是因為操控變因所引起的嗎？"></td>
                                  </tr>
                                  <tr>
                                      <td>我們是否有確定所有的控制變因呢？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="purpose" value="我們是否有確定所有的控制變因呢？"></td>
                                  </tr>
                                  <tr>
                                      <td>所有的控制變因都可以在實驗過程中保持穩定不變嗎？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="purpose" value="所有的控制變因都可以在實驗過程中保持穩定不變嗎？"></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" id="stageMotivationCheckBtn">送出</button>
              </div>
          </div>
          </div>
      </div>
      <!-- 形成問題階段審核表的彈出視窗 -->

      <!-- 研究規劃階段審核表的彈出視窗 -->
      <div class="modal fade" id="stepsStageCheck" tabindex="-1" role="dialog" aria-labelledby="stepsStageCheckCenterTitle" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
              <div class="modal-header">
              <h5 class="modal-title" id="stepsStageCheckLongTitle"><%= groups_stage %>階段審核表</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              </div>
              <div class="modal-body">
                  <div>
                      <p>小組正在[<%= groups_stage %>]階段，請先確認階段審核表是否都已經通過！</p>
                      <div>
                          <h3>設計實驗項目</h3>
                          <table class="table">
                              <thead>
                                  <tr class="table-active">
                                      <th scope="col" width="85%">階段檢核題目</th>
                                      <th scope="col" style="text-align:center;">符合項目</th>
                                  </tr>
                              </thead>
                              <tbody id="experimentList">
                                  <tr>
                                      <td>我們設計的所有實驗項目中的流程都是可以順利進行的？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="experiment" value="我們設計的所有實驗項目中的流程都是可以順利進行的？"></td>
                                  </tr>
                                  <tr>
                                      <td>實驗項目的設計是否都有對應到研究目的？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="experiment" value="實驗項目的設計是否都有對應到研究目的？"></td>
                                  </tr>
                                  <tr>
                                      <td>實驗項目的流程是否難易適中？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="experiment" value="實驗項目的流程是否難易適中？"></td>
                                  </tr>
                                  <tr>
                                      <td>實驗項目是否都可以重複數次實驗，以便能夠重複驗證實驗結果？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="experiment" value="實驗項目是否都可以重複數次實驗，以便能夠重複驗證實驗結果？"></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div>
                          <h3>列出研究設備及器材</h3>
                          <table class="table">
                              <thead>
                                  <tr class="table-active">
                                      <th scope="col" width="85%">階段檢核題目</th>
                                      <th scope="col" style="text-align:center;">符合項目</th>
                                  </tr>
                              </thead>
                              <tbody id="materialList">
                                  <tr>
                                      <td>我們是否可以輕易的獲得研究材料及設備？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="material" value="我們是否可以輕易的獲得研究材料及設備？"></td>
                                  </tr>
                                  <tr>
                                      <td>實驗器材是否都確認過安全性？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="material" value="實驗器材是否都確認過安全性？"></td>
                                  </tr>
                                  <tr>
                                      <td>研究設備及器材的數量及單位是否有正確紀錄？</td>
                                      <td style="text-align:center;"><input type="checkbox" name="material" value="研究設備及器材的數量及單位是否有正確紀錄？"></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" id="stageStepsCheckBtn">送出</button>
              </div>
          </div>
          </div>
      </div>
      <!-- 研究規劃階段審核表的彈出視窗 -->

      <!-- 執行階段審核表的彈出視窗 -->
      <div class="modal fade" id="recordStageCheck" tabindex="-1" role="dialog" aria-labelledby="recordStageCheckCenterTitle" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="recordStageCheckLongTitle"><%= groups_stage %>階段審核表</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div>
                          <p>小組正在[<%= groups_stage %>]階段，請先確認階段審核表是否都已經通過！</p>
                          <div>
                              <h3>紀錄實驗記錄</h3>
                              <table class="table">
                                  <thead>
                                      <tr class="table-active">
                                          <th scope="col" width="85%">階段檢核題目</th>
                                          <th scope="col" style="text-align:center;">符合項目</th>
                                      </tr>
                                  </thead>
                                  <tbody id="recordList">
                                      <tr>
                                          <td>我們是否有小心、謹慎進行實驗測量？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="record" value="我們是否有小心、謹慎進行實驗測量？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們是否在實驗記錄中詳細的描述觀察到的現象及記錄數據？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="record" value="我們是否在實驗記錄中詳細的描述觀察到的現象及記錄數據？"></td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div>
                              <h3>整理研究結果(分析及圖表)</h3>
                              <table class="table">
                                  <thead>
                                      <tr class="table-active">
                                          <th scope="col" width="85%">階段檢核題目</th>
                                          <th scope="col" style="text-align:center;">符合項目</th>
                                      </tr>
                                  </thead>
                                  <tbody id="analysisList">
                                      <tr>
                                          <td>是否有足夠的數據可以解決我們的研究目的問題？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="analysis" value="是否有足夠的數據可以解決我們的研究目的問題？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們的數據是否準確？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="analysis" value="我們的數據是否準確？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們是否有將數據經過平均或是其他方式呈現呢？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="analysis" value="我們是否有將數據經過平均或是其他方式呈現呢？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們的數據是否有標示正確的單位？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="analysis" value="我們的數據是否有標示正確的單位？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們是否有驗證所有的計算都是正確的？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="analysis" value="我們是否有驗證所有的計算都是正確的？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們選擇的圖表類型是否適當？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="analysis" value="我們選擇的圖表類型是否適當？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們的圖表是否有標題？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="analysis" value="我們的圖表是否有標題？"></td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                      <button type="button" class="btn btn-primary" id="stageRecordCheckBtn">送出</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- 執行階段審核表的彈出視窗 -->

      <!-- 分析與詮釋階段審核表的彈出視窗 -->
      <div class="modal fade" id="analysisStageCheck" tabindex="-1" role="dialog" aria-labelledby="analysisStageCheckCenterTitle" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="analysisStageCheckLongTitle"><%= groups_stage %>階段審核表</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <div>
                          <p>小組正在[<%= groups_stage %>]階段，請先確認階段審核表是否都已經通過！</p>
                          <div>
                              <h3>進行研究討論</h3>
                              <table class="table">
                                  <thead>
                                      <tr class="table-active">
                                          <th scope="col" width="85%">階段檢核題目</th>
                                          <th scope="col" style="text-align:center;">符合項目</th>
                                      </tr>
                                  </thead>
                                  <tbody id="discussionList">
                                      <tr>
                                          <td>我們是否有說明每一組數據、圖表的涵義？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="discussion" value="我們是否有說明每一組數據、圖表的涵義？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們是否有提出誤差的來源有哪些？這些誤差如何影響實驗的結果？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="discussion" value="我們是否有提出誤差的來源有哪些？這些誤差如何影響實驗的結果？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們是否有簡略的說明實驗結果的意義？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="discussion" value="我們是否有簡略的說明實驗結果的意義？"></td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div>
                              <h3>產生研究結論</h3>
                              <table class="table">
                                  <thead>
                                      <tr class="table-active">
                                          <th scope="col" width="85%">階段檢核題目</th>
                                          <th scope="col" style="text-align:center;">符合項目</th>
                                      </tr>
                                  </thead>
                                  <tbody id="conclusionList">
                                      <tr>
                                          <td>我們的結論和實驗結果是否沒有矛盾？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="conclusion" value="我們的結論和實驗結果是否沒有矛盾？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們的結論是否解決我們提出的研究目的與假設？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="conclusion" value="我們的結論是否解決我們提出的研究目的與假設？"></td>
                                      </tr>
                                      <tr>
                                          <td>我們是否有提出改進實驗的方法，或是未來做進一步研究的可能性？</td>
                                          <td style="text-align:center;"><input type="checkbox" name="conclusion" value="我們是否有提出改進實驗的方法，或是未來做進一步研究的可能性？"></td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                      <button type="button" class="btn btn-primary" id="stageAnalysisCheckBtn">送出</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- 分析與詮釋階段審核表的彈出視窗 -->

    <!-- 階段切換的彈出視窗 -->
    <div class="modal fade" id="changeStage" tabindex="-1" role="dialog" aria-labelledby="changeStageCenterTitle" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="changeStageLongTitle">切換編輯階段</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="changeStageRoot">
              <p>
                <b>小組要切換到</b>
                <select name="sampleSelect" id="selectStage">
                  <!-- <option value="形成問題">形成問題</option>
                  <option value="研究規劃">研究規劃</option>
                  <option value="執行">執行</option>
                  <option value="分析與詮釋">分析與詮釋</option>
                  <option value="統整報告">統整報告</option> -->
                </select>
                <b>階段</b>
              </p>
              <p style="float: left;"><b>切換原因：</b></p>
                <textarea rows="4" class="col-sm-10 form-control"  id="changeStageReason"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="stageSwitchBtn">切換</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 階段切換的彈出視窗 -->

    <!-- 參考資料的彈出視窗 -->
    <div class="modal fade" id="referenceModal" tabindex="-1" role="dialog" aria-labelledby="referenceModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="referenceModalLongTitle">參考文獻</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="referenceModalRoot">
              <p>
                <a href="#" onclick="window.open('/stylesheets/參考文獻格式參考.pdf','參考文獻格式', config='toolbar=no'); ">參考文獻格式說明</a>
              </p>

              <div class="form-row">
                <div class="col-2">
                  <b>參考文獻類型：</b>
                </div>
                <div class="col-9">
                  <select class="custom-select" name="sampleSelect" id="selectReferenceType">
                    <option value="網址">網址</option>
                    <option value="書籍">書籍</option>
                    <option value="報章文章">報章文章</option>
                    <option value="其他">其他</option>
                  </select>
                </div>
                
              </div>

              <div class="form-row mt-2">
                <div class="col-2">
                  <b>參考文獻：</b>
                </div>
                <div class="col-9">
                  <textarea id="reference_content"></textarea>
                </div>
                <div class="col" style="padding-left: 0;">
                  <!-- <br><br><br> -->
                  <button class="btn btn-primary" id="addReference"  style="float: right; margin-top: 77px;">新增</button>
                </div>
                
              </div>


            </div>
            <br>
            <table id="referenceTable" class="table tableFontSize"></table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 參考資料的彈出視窗 -->

    <!-- 檢核表未通過警告的彈出視窗 -->
    <div class="modal fade" id="checkStageWarning" tabindex="-1" role="dialog" aria-labelledby="checkStageWarningCenterTitle" aria-hidden="true" data-backdrop="static">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title" id="checkStageWarningLongTitle"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  階段檢核未通過</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="warningRoot">
              <p>未通過階段檢核表，請重新確認撰寫的專題內容足夠完整</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">確定</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 檢核表未通過警告的彈出視窗 -->

  </div>
  
</div>


<div class="col discussionCol">
    <div class="row" id="vis-network" style="margin-top: 53px; outline: none;">
    <div id="mynetwork"></div>
    <!-- 左側工具欄 -->
    <div class="tools text-center">
        <h6 style="background-color:rgb(230, 191, 178);">新增</h6>   
        <a href="#addIdea" class="tool" id="ideaTool" data-toggle="modal">
          <img src="/stylesheets/images/icons/idea(line).svg" alt="新增想法">
          <div class="tool-text">一般想法</div>
        </a>
        <a href="#addReferenceNode" class="tool" id="referenceTool" data-toggle="modal">
          <img src="/stylesheets/images/icons/reference.svg" alt="參考文獻">
          <div class="tool-text">參考文獻</div>
        </a>

        <!-- <a href="#addVote" class="tool" id="voteTool" data-toggle="modal">
          <img src="/stylesheets/images/icons/archive.svg" alt="新增投票" >
          <div class="tool-text">決策工具</div>
        </a> -->
        

        <!-- <h6 style="margin-top: 15px; background-color:rgb(230, 191, 178);">實作想法</h6>
        <a class="tool" id="voteTool" data-toggle="modal">
          <img src="/stylesheets/images/icons/question.svg" alt="形成問題" >
          <div class="tool-text">形成問題</div>
        </a>
        <a class="tool" id="voteTool" data-toggle="modal">
          <img src="/stylesheets/images/icons/plan.svg" alt="研究規劃" >
          <div class="tool-text">研究規劃</div>
        </a>
        <a class="tool" id="voteTool" data-toggle="modal">
          <img src="/stylesheets/images/icons/laboratory.svg" alt="執行" >
          <div class="tool-text">執行</div>
        </a>
        <a class="tool" id="voteTool" data-toggle="modal">
          <img src="/stylesheets/images/icons/analysis.svg" alt="分析與詮釋" >
          <div class="tool-text">分析與詮釋</div>
        </a> -->
    </div>

    <!-- 新增想法的彈出視窗 -->
    <div class="modal fade" id="addIdea" tabindex="-1" role="dialog" aria-labelledby="addIdeaCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addIdeaLongTitle" data-nodetype="idea">新增想法</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div id="addIdeaRoot">
                <p style="margin-bottom: 0;"><b>標題</b><input class="form-control" type="text" name="idea_title" id="idea_title" required="required" maxlength="15"></p>
                <p style="color: gray; font-size: 14px; margin-top: 0;">*標題字數限制15字</p>
                <div class="ideaTag"></div>
                <div class="row">
                    <div class="btn-group-vertical col-3">
                        <button type="button" class="btn border-color-green scaffold">我想知道</button>
                        <button type="button" class="btn border-color-green scaffold">我的想法</button>
                        <button type="button" class="btn border-color-green scaffold">我的理論</button>
                        <button type="button" class="btn border-color-green scaffold">新資訊或參考來源</button>
                        <button type="button" class="btn border-color-green scaffold">另一個觀點是</button>
                        <button type="button" class="btn border-color-green scaffold">我覺得更好的想法</button>
                        <button type="button" class="btn border-color-green scaffold">有發展性的想法</button>
                    </div>
                    <div class="col-9">
                        <textarea class="nodeEditor" id="addIdeaSummernote"></textarea>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon" multiple="">
                            <label class="custom-file-label mt-2" for="inputGroupFile04">選擇檔案</label>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" id="addIdeaBtn">新增</button>
            </div>
          </div>
        </div>
    </div>
    <!-- 新增想法的彈出視窗 -->

    <!-- 閱讀想法或修改想法的彈出視窗 -->
    <div class="modal fade" id="editAndReadIdea" tabindex="-1" role="dialog" aria-labelledby="editAndReadIdeaCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editAndReadIdeaLongTitle">閱讀想法</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="mt-2 ml-3 mr-3">

            <ul class="nav nav-tabs" id="ideaTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="readIdea-tab" data-toggle="tab" href="#readIdeaTab" role="tab" aria-controls="readIdeaTab" aria-selected="true">閱讀</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="editIdea-tab" data-toggle="tab" href="#editIdeaTab" role="tab" aria-controls="editIdeaTab" aria-selected="false">修改</a>
              </li>
            </ul>

          </div>

          <div class="tab-content" id="myTabContent">          
            
            <div class="tab-pane fade show active" id="readIdeaTab" role="tabpanel" aria-labelledby="readIdea-tab">
              <div class="modal-body"  style="min-height: 200px;">
                <div id="ReadIdeaRoot">
                閱讀
                </div>
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary">收藏</button> -->
                <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuReplyIdea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">回覆</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReplyIdea">
                  <button class="dropdown-item addIdea" type="button" data-dismiss="modal" data-toggle="modal" data-target="#addIdea">回覆一般想法</button>
                  <button class="dropdown-item addRiseAbove" type="button" data-dismiss="modal" data-toggle="modal" data-target="#addIdea">提出昇華的想法</button>
                  <button class="dropdown-item" type="button">提出參考文獻</button>
                </div>
                <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addIdea">回覆</button> -->
              </div>
            </div>

            <div class="tab-pane fade" id="editIdeaTab" role="tabpanel" aria-labelledby="editIdea-tab">
              <div class="modal-body">
                <div id="EditIdeaRoot">
                  <p style="margin-bottom: 0;"><b>標題</b><input class="form-control" type="text" name="idea_title_edit" id="idea_title_edit" required="required" maxlength="15"></p>
                  <p style="color: gray; font-size: 14px; margin-top: 0;">*標題字數限制15字</p>
                  <div class="ideaTagEdit"></div>
                  <div class="row">
                    <div class=" col-3">
                      <div class="btn-group-vertical" style="width: 100%;">
                          <button type="button" class="btn border-color-green scaffold">我想知道</button>
                          <button type="button" class="btn border-color-green scaffold">我的想法</button>
                          <button type="button" class="btn border-color-green scaffold">我的理論</button>
                          <button type="button" class="btn border-color-green scaffold">新資訊或參考來源</button>
                          <button type="button" class="btn border-color-green scaffold">另一個觀點是</button>
                          <button type="button" class="btn border-color-green scaffold">我覺得更好的想法</button>
                          <button type="button" class="btn border-color-green scaffold">有發展性的想法</button>
                      </div>
                    </div>
                    <div class="col-9">
                        <textarea class="nodeEditor" id="editIdeaSummernote"></textarea>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFileEdit" aria-describedby="inputGroupFileAddon" multiple="">
                            <label class="custom-file-label mt-2" for="inputGroupFile04">選擇檔案</label>
                          </div>
                        </div>
                        <div id="nodeFiles" style="margin-top: 8px;">

                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editIdeaBtn">儲存</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- 閱讀想法或修改想法的彈出視窗 -->

    <!-- 實作節點的彈出視窗 -->
    <div class="modal fade" id="readProjectModal" tabindex="-1" role="dialog" aria-labelledby="readProjectModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="readProjectModalLongTitle">實作節點</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="readProjectModalRoot">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="replyBtn">回覆想法</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 實作節點的彈出視窗 -->

    <!-- 新增參考文獻節點的彈出視窗 -->
    <div class="modal fade" id="addReferenceNode" tabindex="-1" role="dialog" aria-labelledby="readProjectModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addReferenceNodeLongTitle">新增參考文獻</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="addReferenceNodeRoot">
              <div><b>標題</b><input class="form-control" type="text" name="reference_title" id="reference_title" required="required" maxlength="15"></div>
              <p style="color: gray; font-size: 14px; margin-top: 0;">*標題字數限制15字</p>
              <div class="ideaTag"></div>
              <div class="form-row">
                <div class="col-2">
                  <b>參考文獻類型：</b>
                </div>
                <div class="col-10">
                  <select class="custom-select" name="sampleSelect" id="selectReferenceNodeType">
                    <option value="網址">網址</option>
                    <option value="書籍">書籍</option>
                    <option value="報章文章">報章文章</option>
                    <option value="其他">其他</option>
                  </select>
                </div>  
              </div>
              <div class="mt-2">
                <b>參考文獻：</b><a href="#" onclick="window.open('/stylesheets/參考文獻格式參考.pdf','參考文獻格式', config='toolbar=no'); ">參考文獻格式說明</a>
                <textarea class="referenceEditor" id="reference_node_content"></textarea>
              </div>
              <br>
              <div>
                <b>參考內容：</b>
                <textarea class="nodeEditor" id="referenceNodeIdea"></textarea>
              </div>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupReferenceFile" aria-describedby="inputGroupFileAddon" multiple="">
                  <label class="custom-file-label mt-2" for="inputGroupFile04">選擇檔案</label>
                </div>
              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="addReferenceNodeBtn">新增</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 新增參考文獻節點的彈出視窗 -->

    <!-- 閱讀參考文獻節點或修改參考文獻節點的彈出視窗 -->
    <div class="modal fade" id="editAndReadReference" tabindex="-1" role="dialog" aria-labelledby="editAndReadReferenceCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editAndReadReferenceLongTitle">參考文獻</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="mt-2 ml-3 mr-3">

            <ul class="nav nav-tabs" id="referenceTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="readReference-tab" data-toggle="tab" href="#readReferenceTab" role="tab" aria-controls="readReferenceTab" aria-selected="true">閱讀</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="editReference-tab" data-toggle="tab" href="#ediReferenceTab" role="tab" aria-controls="editReferenceTab" aria-selected="false">修改</a>
              </li>
            </ul>

          </div>

          <div class="tab-content" id="myReferenceTabContent">          
            
            <div class="tab-pane fade show active" id="readReferenceTab" role="tabpanel" aria-labelledby="readReference-tab">
              <div class="modal-body"  style="min-height: 200px;">
                <div id="ReadReferenceRoot">
                閱讀
                </div>
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary">收藏</button> -->
                <button type="button" class="btn btn-primary">回覆</button>
              </div>
            </div>

            <div class="tab-pane fade" id="ediReferenceTab" role="tabpanel" aria-labelledby="editReference-tab">
              <div class="modal-body">
                <div id="EditReferenceRoot">
                  <p style="margin-bottom: 0;"><b>標題</b><input class="form-control" type="text" name="reference_title_edit" id="reference_title_edit" required="required" maxlength="15"></p>
                  <p style="color: gray; font-size: 14px; margin-top: 0;">*標題字數限制15字</p>
                  <div class="referenceTagEdit"></div>
                  <div class="form-row">
                    <div class="col-2">
                      <b>參考文獻類型：</b>
                    </div>
                    <div class="col-10">
                      <select class="custom-select" name="sampleSelect" id="editSelectReferenceNodeType">
                        <option value="網址">網址</option>
                        <option value="書籍">書籍</option>
                        <option value="報章文章">報章文章</option>
                        <option value="其他">其他</option>
                      </select>
                    </div>  
                  </div>
                  <div class="mt-2">
                    <b>參考文獻：</b><a href="#" onclick="window.open('/stylesheets/參考文獻格式參考.pdf','參考文獻格式', config='toolbar=no'); ">參考文獻格式說明</a>
                    <textarea class="referenceEditor" id="edit_reference_node_content"></textarea>
                  </div>
                  <br>
                  <div>
                    <b>參考內容：</b>
                    <textarea class="nodeEditor" id="editReferenceNodeIdea"></textarea>
                  </div>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="editInputGroupReferenceFile" aria-describedby="inputGroupFileAddon" multiple="">
                      <label class="custom-file-label mt-2" for="inputGroupFile04">選擇檔案</label>
                    </div>
                  </div>
                  <div id="referenceNodeFiles" style="margin-top: 8px;"></div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="editReferenceNodeBtn">儲存</button>
              </div>
            </div>


          </div>
          
        </div>
      </div>
    </div>
    <!-- 閱讀參考文獻節點或修改參考文獻節點的彈出視窗 -->

    <!-- 新增昇華的想法的彈出視窗 -->
    <!-- <div class="modal fade" id="addRiseAboveIdea" tabindex="-1" role="dialog" aria-labelledby="addRiseAboveIdeaCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addRiseAboveIdeaLongTitle">提出昇華的想法</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="addIdeaRoot">
              <p><b>標題</b><input class="form-control" type="text" name="rise_above_idea_title" id="rise_above_idea_title" required="required"></p>
              <div class="ideaTag"></div>
              <div class="row">
                  <div class="btn-group-vertical col-3">
                      <button type="button" class="btn border-color-green scaffold">我想知道</button>
                      <button type="button" class="btn border-color-green scaffold">我的想法</button>
                      <button type="button" class="btn border-color-green scaffold">我的理論</button>
                      <button type="button" class="btn border-color-green scaffold">新資訊或參考來源</button>
                      <button type="button" class="btn border-color-green scaffold">另一個觀點是</button>
                      <button type="button" class="btn border-color-green scaffold">我覺得更好的想法</button>
                      <button type="button" class="btn border-color-green scaffold">有發展性的想法</button>
                  </div>
                  <div class="col-9">
                      <textarea class="nodeEditor" id="addRiseAboveIdeaSummernote"></textarea>
                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputRiseAboveIdeaGroupFile" aria-describedby="inputGroupFileAddon" multiple="">
                          <label class="custom-file-label mt-2" for="inputGroupFile04">選擇檔案</label>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-primary" id="addRiseAboveIdeaBtn">新增</button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- 新增昇華的想法的彈出視窗 -->

    <!-- 閱讀收斂結果的彈出視窗 -->
    <div class="modal fade" id="readConvergence" tabindex="-1" role="dialog" aria-labelledby="readConvergenceCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="readConvergenceLongTitle">閱讀收斂結果</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>    
        
          <div class="modal-body"  style="min-height: 200px;">
            <div id="ReadConvergenceRoot">
            閱讀
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary dropdown-toggle" id="dropdownMenuReplyConvergence" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">回覆</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuReplyConvergence">
              <button class="dropdown-item addIdea" type="button" data-dismiss="modal" data-toggle="modal" data-target="#addIdea">回覆一般想法</button>
              <button class="dropdown-item addRiseAbove" type="button" data-dismiss="modal" data-toggle="modal" data-target="#addIdea">提出昇華的想法</button>
              <button class="dropdown-item" type="button">提出參考文獻</button>
            </div>
            <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#addIdea">回覆</button> -->
          </div>
            
          </div>
          
        </div>
      
    </div>
    <!-- 閱讀收斂結果的彈出視窗 -->

    <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
      
      <div style="position: absolute; top: 0; right: 0;">

        <button id="stageIntroduction" type="button" class="btn btn-secondary">階段說明</button>

        <!-- 研究主題引導說明 -->
        <div class="toast" id="title1" style="width: 500px;" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="mr-auto">形成問題</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body" style="overflow-y: scroll;  max-height: 180px;">
            <h5>決定研究主題</h5>
            <p>要開始進行一個科展專題，首先得想出一個有趣的研究主題，而關於這個主題的想法，有可能來自於課本當中，或是來自於日常生活的觀察當中，你也可以參考別人做過的題目。</p>
            <p>在這個階段當中，請你想出一個可能的研究主題以及寫下你的理由，並向你的組員提案，決定一個屬於你們的科展研究主題</p>
          </div>
        </div>
        <!-- 研究題目引導說明 -->
        <div class="toast" id="title2" style="width: 500px;" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="mr-auto">形成問題</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body" style="overflow-y: scroll;  height: 180px;">

            <h5>決定研究題目</h5>
            <p>你需要了解哪些是不好的研究題目並避免這些類似的題目。請<a href="#" onclick="window.open('/stylesheets/不好的科展題目.pdf','不好的科展題目', config='toolbar=no'); ">參考範例</a>盡量避免以下的題目。</p>
            <p>清單中大都是不易界定變因、花費昂貴、太過危險的研究主題，不適合學生研究。</p>

          </div>
        </div>
        <!-- 研究問題引導說明 -->
        <div class="toast" id="title3" style="width: 500px;" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="mr-auto">形成問題</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body" style="overflow-y: scroll;  height: 180px;">
            <h5>提出研究問題</h5>
            <p>若研究主題已經篩選出來，切下來要進行深入分析主題的步驟。</p>
            <p>請思考5W1H的方式，與誰有關？什麼時候？什麼地點？什麼事物？為什麼？如何？
              以下的5W1H分類可以幫助你快速地找到研究的方向與問題：</p>
                  ▸  Why-為什麼
              <br>▸  What-什麼事物
              <br>▸  Who-什麼人
              <br>▸  When-什麼時間
              <br>▸  Where-什麼地點
              <br>▸  How-什麼方法
            <br>
            請<a href="#" onclick="window.open('/stylesheets/研究問題-5W1H.pdf','研究問題-5W1H', config='toolbar=no'); ">參考範例</a>進行研究問題的發想<br>
            <p></p>
          </div>
        </div>

        <!-- 設計實驗項目引導說明 -->
        <div class="toast" id="step1" style="width: 500px;" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="mr-auto">研究規劃</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body" style="overflow-y: scroll;  max-height: 180px;">
            <h5>設計實驗項目</h5>
            <p>接下來請為你們的研究問題，設計適合的實驗項目，在這個階段你要思考需要有哪些步驟才能完成研究問題所需的實驗，並思考如何蒐集數據。</p>
            <p>[提示：要說明實驗如何進行，分步驟一一說明清楚。]</p>
            <p>實驗步驟必須淺顯易懂，好的實驗步驟不只讓人看得懂，也要像食譜一樣可以一步一步地按著說明操作。
              以下是實驗步驟的<a href="#" onclick="window.open('/stylesheets/實驗項目設計範例.pdf','實驗項目設計範例', config='toolbar=no'); ">參考範例</a></p>
          </div>
        </div>
        <!-- 列出研究設備及器材引導說明 -->
        <div class="toast" id="step2" style="width: 500px;" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="mr-auto">研究規劃</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body" style="overflow-y: scroll;  height: 180px;">

            <h5>列出研究設備及器材</h5>
            <p>進行實驗時勢必將用到實驗器材，這些器材有可能是學校有的實驗設備，或是需要自行動手製作的器材。
              必須列出一份器材清單，並清楚描述使用器材的名稱與數量。</p>
            <p>以下是設備及器材清單的<a href="#" onclick="window.open('/stylesheets/設備及器材清單範例.pdf','設備及器材清單範例', config='toolbar=no'); ">參考範例</a></p>

          </div>
        </div>

        <!-- 紀錄實驗記錄引導說明 -->
        <div class="toast" id="record1" style="width: 500px;" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="mr-auto">執行</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body" style="overflow-y: scroll;  max-height: 180px;">
            <h5>紀錄實驗記錄</h5>
            <p>以下幾點是實驗過程需要注意的準則：</p>
            <p>[提示：要說明實驗如何進行，分步驟一一說明清楚。]</p>
            <p>
              <ul>
                <li>必須小心謹慎地測量，以免產生過多的人工誤差。</li>
                <li>要控制所有的控制變因，不因實驗進展而變化。</li>
                <li>在實驗日誌中詳細記載實驗數據、觀察到的現象。</li>
                <li>事先設計好實驗紀錄簿，在實驗進行的時候紀錄數據。</li>
                <li>若遇到意料之外的狀況，分析原因並調整實驗計畫。</li>
              </ul>
            </p>
          </div>
        </div>
        <!-- 整理研究結果(分析及圖表)引導說明 -->
        <div class="toast" id="record2" style="width: 500px;" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="mr-auto">執行</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body" style="overflow-y: scroll;  height: 180px;">

            <h5>整理研究結果(分析及圖表)</h5>
            <p>在做完實驗後，你需要利用實驗結果，與組員討論出你們的研究結果；研究結果可以用來解釋實驗結果與研究問題的關聯性，或是做為如何改善實驗的參考依據。</p>
            <p>[提示：描述實驗數據、調查結果(陳述事實)，並將每個實驗結果都撰寫出來。]</p>

          </div>
        </div>

        <!-- 進行研究討論引導說明 -->
        <div class="toast" id="analysis1" style="width: 500px;" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="mr-auto">分析與詮釋</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body" style="overflow-y: scroll;  max-height: 180px;">
            <h5>進行研究討論</h5>
            <p>「研究討論」的內容通常包含了幾個部分：</p>
            <p>
              <ul>
                <li>每個實驗組與對照組的比較、分析原因？</li>
                <li>實驗結果背後所隱含的意義、原理？</li>
                <li>實驗過程中可能造成的誤差有哪些？是否已經避免或減少誤差？誤差有嚴重影響實驗嗎？</li>
                <li>所提出的假設經過實驗之後被否定還是證實呢？</li>
              </ul>
            </p>
          </div>
        </div>
        <!-- 產生研究結論引導說明 -->
        <div class="toast" id="analysis2" style="width: 500px;" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="mr-auto">分析與詮釋</strong>
            <small></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="toast-body" style="overflow-y: scroll;  height: 180px;">

            <h5>產生研究結論</h5>
            <p>請根據「研究結果」與「研究討論」的內容提出可能的研究結論，並與小組其他成員一同進行討論。</p>

          </div>
        </div>
        
      </div>
    </div>

  </div>

  

</div>




<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/javascripts/projectDiscussion.js"></script>
